<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="investing.Properties.Settings.VENTASConnectionString"
            connectionString="Data Source=INSPIRON-ELLO\SQLEXPRESS;Initial Catalog=VENTAS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="investing.Properties.Settings.VENTASConnectionString1"
            connectionString="Data Source=ADAIR29\SQLEXPRESS;Initial Catalog=VENTAS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>